.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}
.contSEARCH {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
 
}
.form {
  background-color: rgba(255, 255, 255);
  width: 24rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  outline: none;
  padding: 0.7em;
  transition: 0.4s ease-in-out;
  width: 22rem;
}

.input:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.button {
  background: none;
  border: 1px solid rgb(175, 175, 175);
  padding: 10px 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 39px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.button:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
}

.button svg {
  color: #000000;
}

.filtro {
  background: none;
  border: 1px solid rgb(175, 175, 175);
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filtro:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
  transition: 0.4s ease-in-out;
}

.filtro:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  outline: none;
  padding: 0.7em;
  background-color: white;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}

.table th,
.table td {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-decoration: none;
}

.table th {
  background-color: #f2f2f2;
}

.pagination {
  border: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
