body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #5271ff;
}

/*Header*/
.header {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
}

.logo {
  justify-content: left;
  width: 100px;
  left: 15px;
  top: 5px;
  position: absolute;
}

.link {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

a:link {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

/*Formulário*/
.form {
  position: absolute;
  top: 80px;
  background-color: rgba(255, 255, 255);
  width: 24rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  outline: none;
  padding: 0.7em;
  transition: 0.4s ease-in-out;
  width: 22rem;
}

.input:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.button {
  background: none;
  border: 1px solid rgb(175, 175, 175);
  padding: 10px 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 39px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}

.button:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
}

.button svg {
  color: #000000;
}

.filtro {
  background: none;
  border: 1px solid rgb(175, 175, 175);
  padding: 5px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.filtro:hover {
  box-shadow: 4px 4px 0px #727275, -3px -3px 10px #ffffff;
  transition: 0.4s ease-in-out;
}

.filtro:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

