.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 83vh;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 0.5rem;
  width: 90%;
  padding: 1rem;
  background-color: rgb(255, 240, 207);
}
.title {
  text-decoration: underline;
  font-size: larger;
}
.subtitle {
  font-size: large;

}
p {
  margin-bottom: 20px;
}
ul {
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
}
li {
  margin-bottom: 5px;
}