body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #7190ae;
}
.formBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.563);
  width: 24rem;
  height: 26rem;
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}

.heading {
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: 0.4s ease-in-out;
  width: 22rem;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.form .btn {
  align-self: center;
  padding: 0.7em;
  margin-top: 0.03rem;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #969696, -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: 0.2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}
.form-control {
  position: relative;
  margin-bottom: 0.5rem;
}

.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #ad483d;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  font-family: sans-serif;
  visibility: visible;
  color: #e74c3c;
  font-weight: 600;
}
.alert-content {
  display: flex;
  justify-content: center;
  display: none;
}

.style-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22465f;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 22rem;
  height: 2rem;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}
.btn2 {
  gap: 1rem;
  align-self: center;
  padding: 0.7em;
  margin-top: 0.03rem;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-login {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.563);
  width: 24rem;
  height: 16rem;
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0.5rem 0.8rem 0.8rem;
}
