<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/images/leitor.gif" />
    <link rel="stylesheet" href="../static/style/layout.css" />
    <link rel="stylesheet" href="../static/style/reset.css" />
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'style\cad_log_layout.css' %}" />
  </head>
  <body class="all">
    <div class="logo">
      <img src="{% static 'images/leitor.gif' %}" alt="Logo" class="logo" />
    </div>
    <div class="alert-content">
      <div class="style-alert">
        <p>Crie uma conta</p>
      </div>
    </div>
    <section class="formBody">
      <form
        method="POST"
        action="{% url 'valida_login' %}"
        id="form"
        class="form form-login"
      >
        {% csrf_token %}
        <!-- {% csrf_token %} -->
        <p class="heading">Bem Vindo de Volta!</p>
        <div class="form-control">
          <input
            class="input"
            id="email"
            name="email"
            placeholder="Email"
            type="email"
          />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>
        <div class="form-control">
          <input
            class="input"
            id="senha"
            name="senha"
            placeholder="Senha"
            type="password"
          />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </div>
        <div class="cad">
          <button class="Btn" type="submit">
            <div class="sign">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-log-in"
              >
                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4" />
                <polyline points="10 17 15 12 10 7" />
                <line x1="15" x2="3" y1="12" y2="12" />
              </svg>
            </div>

            <div class="text">Entrar</div>
          </button>
        </div>

        <div class="cad">
          <a href="{%url 'cadastro' %}" target="_blank">Cadastre-se</a>
        </div>
      </form>
    </section>
    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
