<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- {% load static %} -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/style/layout.css" />
    <link rel="stylesheet" type="text/css" href="../static/style/reset.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/reset.css' %}"
    />
  </head>

  <body>
    <header class="header">
      <!-- <div class="logo">
          <img src="{% static 'images/leitor.gif' %}" alt="Logo" class="logo" />
        </div> -->
      <div class="logo">
        <img src="../static/images/leitor.gif" alt="Logo" class="logo" />
      </div>

      <nav class="link">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>

    <form action="    " method="post" class="form">
      <div class="search">
        <input
          type="text"
          id="search"
          name="search"
          class="input"
          placeholder="Pesquisa"
        />

        <button class="button" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </button>
      </div>

      <select class="filtro" name="filtro" id="filtro">
        <option value="1" name="1">Título</option>
        <option value="2" name="2">Autor</option>
        <option value="3" name="3">Gênero</option>
      </select>
    </form>

    <tbody>
      {%for livro in livros%}
      <tr>
        <td>{{livro.titulo}}</td>
        <td>{{livro.autor}}</td>
        <td>{{livro.genero}}</td>
      </tr>
    </tbody>
  </body>
</html>
