<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/style/layout.css" />
    <link rel="stylesheet" type="text/css" href="../static/style/reset.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/home_layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/reset.css' %}"
    />
  </head>

  <body>
    <header class="header">
      <div class="logo">
        <img src="{% static 'images/leitor.gif' %}" alt="Logo" class="logo" />
      </div>
      {% comment %}
      <div class="logo">
        <img src="../static/images/leitor.gif" alt="Logo" class="logo" />
      </div>
      {% endcomment %}

      <nav class="link">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>

    <form action="{% url 'search' %}" method="POST" class="form">
      {%csrf_token%}
      <div class="search">
        <input
          type="text"
          id="search"
          name="search"
          class="input"
          placeholder="Pesquisa"
        />

        <button class="button" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </button>
      </div>

      <select class="filtro" name="filtro" id="filtro">
        <option value="titulo" name="titulo">Título</option>
        <option value="autor" name="autor">Autor</option>
        <option value="genero" name="genero">Gênero</option>
      </select>
    </form>

    <div class="table">
      <tbody>
        {%for livro in livros%}
        <tr>
          <a href="{%url 'ver_livro' livro.id%}">
            <br />
            <td>{{livro.titulo}} -- {{livro.autor}} -- {{livro.genero}}</td>
            <br />
          </a>
        </tr>
        {%endfor%}
      </tbody>
    </div>
  </body>
</html>
