<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Leitor Júnior</title>
    <link rel="shortcut icon" type="svg" href="{% static 'images/icon.svg'%}"/> 
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/home_layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/reset.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/page.css' %}"
    />
  </head>

  <body>
    <body>
      <header class="header">
        <div class="logodiv">
          <div class="logo">
          <img src="{% static 'images/Leitor.gif' %}" alt="Logo" class="logo" />
        </div>
      </div>
          
          
          <div class="route">
             <nav class="links">
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
          </nav></div>
         
    
          <div class="but">
              <form action="{% url 'logout' %}" method="GET"> 
                {% csrf_token %}
                <button class="Btn">
    
                  <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                  
                  <div class="text">Logout</div>
                </button>
                
                
                
                </form>
          </div>
        </header>
<div class="container">
    <form action="{% url 'search' %}" method="GET" class="form">
      {%csrf_token%}
      <div class="search">
        <input
          type="text"
          id="search"
          name="search"
          class="input"
          value="{{request.GET.search}}"
          placeholder="Pesquisa"
        />

        <button class="button" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </button>
      </div>

      <select class="filtro" name="filtro" id="filtro">
        <option value="titulo" name="titulo">Título</option>
        <option value="autor" name="autor">Autor</option>
        <option value="genero" name="genero">Gênero</option>
      </select>
    </form>

    <div class="table">
      <table>
          <thead>
              <tr>
                  <th>Título</th>
                  <th>Autor</th>
                  <th>Gênero</th>
              </tr>
          </thead>
          <tbody>
              {% for livro in livros %}
              <tr>
                  <td><a href="/ver_livro/{{ livro.id }}">{{ livro.titulo }}</a></td>
                  <td>{{ livro.autor }}</td>
                  <td>{{ livro.genero }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div id="pagination" class="pagination">
          {% if livros.has_previous %}
              {% if request.GET.search %}
                  <a href="?search={{ request.GET.search }}&filtro={{ request.GET.filtro }}&page={{ livros.previous_page_number }}">Anterior</a>
              {% else %}
                  <a href="?page={{ livros.previous_page_number }}">Anterior</a>
              {% endif %}
          {% endif %}
         
          {% if request.GET.search %}
              {% for num in livros.paginator.page_range %}
                 <a href="?search={{ request.GET.search }}&filtro={{ request.GET.filtro }}&page={{ num }}">{{ num }}</a>
              {% endfor %}
          {% endif %}
          
          
          {% if livros.has_next %}
              {% if request.GET.search %}
                  <a href="?search={{ request.GET.search }}&filtro={{ request.GET.filtro }}&page={{ livros.next_page_number }}">Próxima</a>
              {% else %}
                  <a href="?page={{ livros.next_page_number }}">Próxima</a>
              {% endif %}
          {% endif %}

      </div>

  </div>
</div>
    
  </body>
</html>
