<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="../static/style/layout.css" />
    <link rel="stylesheet" type="text/css" href="../static/style/reset.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/home_layout.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/reset.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/page.css' %}"
    />
  </head>

  <body>
    <body>
      <header class="header">
        <div class="logo">
          <img src="{% static 'images/leitor.gif' %}" alt="Logo" class="logo" />
        </div>
        {% comment %}
        <div class="logo">
          <img src="../static/images/leitor.gif" alt="Logo" class="logo" />
        </div>
        {% endcomment %}
  
        <nav class="links">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
  
        <div class="but">
          <button class="logout" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-log-out"
            >
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
              <polyline points="16 17 21 12 16 7" />
              <line x1="21" x2="9" y1="12" y2="12" />
            </svg>
          </button>
        </div>
      </header>
<div class="container">
    <form action="{% url 'search' %}" method="GET" class="form">
      {%csrf_token%}
      <div class="search">
        <input
          type="text"
          id="search"
          name="search"
          class="input"
          value="{{request.GET.search}}"
          placeholder="Pesquisa"
        />

        <button class="button" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
        </button>
      </div>

      <select class="filtro" name="filtro" id="filtro">
        <option value="titulo" name="titulo">Título</option>
        <option value="autor" name="autor">Autor</option>
        <option value="genero" name="genero">Gênero</option>
      </select>
    </form>

    <div class="table">
      <table>
          <thead>
              <tr>
                  <th>Título</th>
                  <th>Autor</th>
                  <th>Gênero</th>
              </tr>
          </thead>
          <tbody>
              {% for livro in livros %}
              <tr>
                  <td><a href="/ver_livro/{{ livro.id }}">{{ livro.titulo }}</a></td>
                  <td>{{ livro.autor }}</td>
                  <td>{{ livro.genero }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <div id="pagination" class="pagination">
          {% if livros.has_previous %}
              <a href="?page={{ livros.previous_page_number }}">Anterior</a>
          {% endif %}
          {% for num in livros.paginator.page_range %}
              <a href="?page={{ num }}">{{ num }}</a>
          {% endfor %}
            {% if livros.has_next %}
              <a href="?page={{ livros.next_page_number }}">Próxima</a>
          {% endif %}

      </div>

  </div>
</div>
    
  </body>
</html>
