<!DOCTYPE html>
<html lang="">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="shortcut icon" type="svg" href="{% static 'images/icon.svg'%}"/> 
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/reset.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/sobre.css' %}"
    />
  </head>
  <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/page.css' %}"
    />
</head>
<body>
    <header class="header">
      <div class="logodiv">
        <div class="logo">
        <img src="{% static 'images/Leitor.gif' %}" alt="Logo" class="logo" />
      </div>
    </div>
        
        
        <div class="route">
           <nav class="links">
          <a href="/">Home</a>
          <a href="/cadastrar_livro">Cadastrar Livro</a>
          <a href="/sobre">Sobre</a>
        </nav></div>
       
  
        <div class="but">
            <form action="{% url 'logout' %}" method="GET"> 
              {% csrf_token %}
              <button class="Btn">
  
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                
                <div class="text">Logout</div>
              </button>
              
              
              
              </form>
        </div>
      </header>

      <div class="container">
    <div class="content">
        <h1 class="title">Bem-vindo ao Projeto "Leitor Júnior"</h1>
        <br>

        <h2 class="subtitle">Sobre o Projeto</h2>
        <p>Este é um projeto que visa criar uma plataforma online onde alunos podem escrever e editar resenhas de livros, além de ler resenhas escritas por outros alunos. A ideia por trás desse sistema é promover a discussão e a análise crítica de obras literárias, incentivando a leitura e o compartilhamento de opiniões entre os estudantes.</p>

        <h3 class="subtitle">Tecnologias Utilizadas</h3>
        <p>O sistema foi desenvolvido utilizando a linguagem de programação Python, o framework Django e o banco de dados MySQL.</p>

        <h2 class="title">Benefícios Esperados</h2>
        <br>

        <h3 class="subtitle">Estímulo à Leitura</h3>
        <p>Proporcionar um ambiente online onde os alunos possam compartilhar suas experiências de leitura e descobrir novos livros recomendados por seus colegas.</p>

        <h3 class="subtitle">Desenvolvimento de Habilidades Críticas</h3>
        <p>Incentivar a análise crítica e a expressão de opiniões fundamentadas sobre obras literárias.</p>

        <h3 class="subtitle">Comunidade de Aprendizado</h3>
        <p>Criar uma comunidade virtual onde os estudantes possam interagir, trocar ideias e expandir seu conhecimento através da leitura.</p>

        <h2 class="title">Impacto Educacional</h2>
        <br>
        <ul>
            <li>Fortalecimento do hábito de leitura entre os alunos</li>
            <li>Desenvolvimento de habilidades de escrita e análise crítica</li>
            <li>Promoção de um ambiente de aprendizado colaborativo e participativo</li>
        </ul>

        <h2 class="title">Conclusão</h2>
        <p>Em suma, o sistema de resenhas de livros visa proporcionar uma plataforma interativa e educacional onde os alunos possam compartilhar suas paixões pela leitura, expressar suas opiniões e expandir seus horizontes literários.</p>
    </div>
</div>
</body>
</html>